/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', serif;
}

/* Color Variables */
:root {
    --primary-color: hsla(240, 100%, 60%, 0.8);
    --secondary-color: hsla(0, 0%, 25%, 0.8);
    --background-color: hsla(0, 100%, 97%, 0.9);
}

/* Header */
.header {
    height: 100vh;
    background-image: linear-gradient(var(--secondary-color), var(--primary-color), var(--secondary-color)), url(/assets/images/computer.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden; /* Fix overflow issue */
}

.user {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.user img {
    width: 250px;
    border: 2px solid var(--background-color);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adjust box shadow */
    overflow: hidden; /* Fix overflow issue */
}

.user h1, .user p {
    color: var(--background-color);
}

/* Box */
.box {
    position: absolute;
    width: 50px;
    height: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 250px;
    border: 2px solid var(--background-color);
    border-radius: 30px;
    overflow: hidden; /* Fix overflow issue */
}

.box-btn {
    position: relative;
    font-size: 40px;
    text-align: center;
}

.box-btn a {
    text-decoration: none;
    color: var(--primary-color);
}

.box-btn a:hover, .box-btn a:focus, .box-btn a:active {
    color: var(--secondary-color);
}

/* Section */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(var(--background-color), transparent 50%), url(/assets/images/programmer.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden; /* Fix overflow issue */
}

.section .container {
    border: 2px solid black; 
    border-radius: 50px;
    padding-bottom: 10px;
    box-shadow: 0 0 10px white, 0 0 10px var(--background-color);
    overflow: hidden; /* Fix overflow issue */
}

.section h1 {
    font-size: 5rem;
}

#question {
    font-size: 3rem;
}

.section button {
    background: linear-gradient(var(--background-color), transparent 70%);
    border: 2px solid var(--background-color);
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px;
    overflow: hidden; /* Fix overflow issue */
}

.section button:hover, .section button:focus {
    background-color: white;
    opacity: 0.75; /* Adjust opacity */
}

#answers img {
    width: 50px;
}

#answers p {
    color: black;
    font-size: 2rem;
    margin-top: 10px;
    z-index: 1;
}

#next-btn {
    background-color: var(--background-color);
    color: var(--secondary-color);
    font-size: 1.5rem;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
}

#next-btn:hover, #next-btn:focus {
    color: var(--primary-color);
    border: 2px solid var(--secondary-color);
}

#next-btn:active {
    background-color: var(--secondary-color);
    color: var(--background-color);
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    /* Adjust styles for small devices */
    .user img {
        width: 150px;
    }

    .section h1 {
        font-size: 3.5rem;
    }

    #question {
        font-size: 2rem;
    }

    .section button {
        padding: 8px;
    }

    #answers img {
        width: 40px;
    }

    #answers p {
        font-size: 1.5rem;
    }

    #next-btn {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* Adjust styles for medium devices */
    .user img {
        width: 200px;
    }

    .section h1 {
        font-size: 4rem;
    }

    #question {
        font-size: 2.5rem;
    }

    .section button {
        padding: 8px;
    }

    #answers img {
        width: 40px;
    }

    #answers p {
        font-size: 1.7rem;
    }

    #next-btn {
        font-size: 1.3rem;
    }
}
